@model PmiOfficial.Models.UserInfo
@if (Model.IsAuthenticated)
{
    <li><a href="@Url.Action("Index", "UserProfile", new { userID = Model.Id })">Hello @Model.Name</a></li>
    <li><a href="/logout">LogOut</a></li>
    <div id="chatBody" class="panel panel-primary panel-body well" style="display: none; position: fixed; bottom: 60px; left: 0px;">
        <div id="header"></div>
        <div id="inputForm" class="form-group form-inline">
            <input type="text" id="message" class="form-control" />
            <input type="button" class="btn btn-default" id="sendmessage" value="Send" />
        </div>
        <div id="chatroom" style="max-height: 400px; max-width: 300px;overflow-y: scroll"></div>

        <div id="chatusers">
            <p><b>Amount of users: <span id="usersCount"></span></b></p>
        </div>
    </div>
        <div id="divContainer">
        <div id="chatMultUsersDiv" class="chatMultipleUsers">
            <div class="title">
                Logged Users
            </div>
            <div id="divusers" class="users">
            </div>
        </div>
        <div id="toggleChatButtonDiv" class="toggleButton">
            <button id="toggleChatButton" class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
        <input id="chatHhUserID" type="hidden" />
        <input id="chatHhUserName" type="hidden" />
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
<<<<<<< HEAD

=======
    <script src="/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
>>>>>>> e69b3341a9f15008c7757579401cac5d21d4a2a2
    <script>
        userName = "@Model.Name";
        loggedUserID = @Model.Id;
    </script>
}
else
{
    <li>@Html.ActionLink("Sign in", "Index", "Login", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Sign up", "Index", "Registration", new { area = "" }, null)</li>
    
}